@media screen and (min-width: 550px) {

#banner {
    height: 70px;
  }

  #banner h1 a {
    font-size: 1.2em;
    letter-spacing: 10px;
  }

  .filter-options {
    height: 110px;
    text-align: left;
  }
  .filter-options h2 {
    background-color:  #3397DB;
    color: white;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1;
  }

  .filter-options select {
    background-color: white;
    color: black;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    height: 40px;
    margin-right: 10px;
    width: 240px;
  }


  #restaurants-list {
    max-width: 100%;
    justify-content: center;
  }

  #restaurants-list li {
    margin: 7px;
    width: 250px;
    height: 400px;
  }

  #restaurants-list li a {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  #restaurants-list li img {
    width: 175px;
  }

  #footer {
    font-size: 0.9em;
    padding: 20px 10px;
  }

  #footer strong {
    display: inline;
  }

  #restaurant-img {
    width: 50%;
    margin-bottom: 15px;
  }

  #restaurant-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #restaurant-address {
    margin-top: 0;
    margin-bottom: 10px;
  }

  #restaurant-hours-address {
    font-size: 1.1em;
    margin-left: 5%;
    margin-bottom: 20px;
    order: 0;
    width: 40%;
  }

  #restaurant-hours {
    height: 200px;
  }

  #restaurant-cuisine {
    order: 1;
  }

  #review-form-container  {
    width: 400px;
    margin: 0 auto;
  }

  #favorite-button-container {
  	width: 200px;
  	height: 40px;
  }

  #favorite-button {
  	width: 100%;
  	height: 40px;
  	background-color: orange;
  }
}

@media screen and (min-width: 1024px) {

  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 70px;
    width: 47%;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
  }

  #breadcrumb {
    width: 50%;
  }

  #restaurants-list li img {
    width: 175px;
  }

  #restaurant-container {
    margin-top: 110px;
    width: 50%;
  }

  #reviews-container {
    width: 50%;
  }

  /* footer on the restaurant page */
  .restaurant {
    width: 50%;
  }
  body {
    background-color: #f3f3f3;
  }

  #favorite-button-container {
  	width: 200px;
  	height: 40px;
  }

  #favorite-button {
  	width: 100%;
  	height: 40px;
  	background-color: orange;
  }
}
