@media screen and (min-width: 550px) {

  nav {
    height: 70px;
  }

  nav h1 a {
    font-size: 1.2em;
    letter-spacing: 10px;
  }

  .filter-options {
    padding: 10px;
    text-align: left;
  }
  .filter-options h2 {
    font-size: 1.4em;
    margin-bottom: 5px;
  }

  .filter-options select {
    /* margin-right: 10px; */
    margin-top: 5px;
    margin-right: 10px;
    width: 240px;
  }


  #restaurants-list {
    max-width: 100%;
    justify-content: flex-start;
  }

  #restaurants-list li {
    margin: 7px;
    width: 250px;
    height: 400px;
  }

  #restaurants-list li a {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  #restaurants-list li img {
    width: 175px;
  }

  #footer {
    font-size: 0.9em;
    padding: 20px 10px;
  }

  #footer strong {
    display: inline;
  }

  #restaurant-img {
    width: 50%;
  }

  #restaurant-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #restaurant-address {
    margin-top: 0;
    margin-bottom: 10px;
  }

  #restaurant-hours-address {
    font-size: 1.1em;
    margin-left: 3%;
    /* margin-bottom: 10px; */
    order: 0;
    width: 40%;
  }

  #restaurant-hours {
    height: 200px;
  }

  #restaurant-cuisine {
    order: 1;
  }
}

/* minor breakpoint for the flow of the filter */
@media screen and (min-width: 660px) {
  .filter-options {
    /* padding: 15px */
    height: auto;
    padding: 10px;
  }
  .filter-options h2 {
    display: inline;
  }

  .filter-options select {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 15px;
  }

}

@media screen and (min-width: 1024px) {

  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 70px;
    width: 47%;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
  }

  #breadcrumb {
    width: 53%;
    padding-right: 0;
    padding-left: 0;
  }
  #breadcrumb li a {
  	margin-left: 10px;
  }

  #restaurants-list li img {
    width: 175px;
  }

  #restaurant-container {
    margin-top: 110px;
    width: 50%;
  }

  #reviews-container {
    width: 50%;
  }

  /* footer on the restaurant page */
  .restaurant {
    margin: 0;
    width: 53%;
  }
  body {
    background-color: #f3f3f3;
  }
}
