@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	min-width: 290px;
	width: 100%;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: #BF1722;
	color: white;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	box-shadow: 0 0 15px #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, section {
	display: block;
}
#maincontent {
	background-color: #f3f3f3;
	min-width: 290px;
	width: 100%;
}
#footer {
	background-color: #444;
	color: #aaa;
	font-size: 0.9em;
	letter-spacing: 1px;
	padding: 10px 5px;
	text-align: center;
	text-transform: uppercase;
}

#footer strong {
	display: block;
}

/* ====================== Navigation ====================== */
nav {
	background-color: #252831;
	width: 100%;
	height: 60px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 290px;
}
nav h1 a {
	color: #fff;
	font-size: 0.7em;
	font-weight: 100;
	letter-spacing: 5px;
	text-transform: uppercase;
}
#breadcrumb {
	padding: 10px;
	list-style: none;
	background-color: #eee;
	font-size: 0.9em;
	margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
	display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
	display: block;
	height: 280px;
	width: 100%;
	background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	padding: 5px 15px;
	height: 170px;
	background-color: #3397DB;
	text-align: center;
}
.filter-options h2 {
	background-color:  #3397DB;
	color: white;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1;
}
.filter-options select {
	background-color: white;
	color: black;
	border: 1px solid #fff;
	font-family: Arial,sans-serif;
	font-size: 1.2em;
	height: 40px;
	margin-bottom: 25px;
	width: 90%;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	background-color: #f3f3f3;
	list-style: outside none none;
	display: flex;
	flex-wrap: wrap;
}
#restaurants-list li {
	position: relative;
	background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial,sans-serif;
	width: 90%;
	margin: 10px auto;
	text-align: left;
}
#restaurants-list .restaurant-img {
	background-color: #ccc;
	display: block;
	margin: 10px auto;
	max-width: 70%;
	text-align: center;
	max-height: 250px;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(158,158,158,1);
	-moz-box-shadow: 0px 0px 3px 3px rgba(158,158,158,1);
	box-shadow: 0px 0px 3px 3px rgba(158,158,158,1);
}

#restaurants-list li h1 {
	color: #f18200;
	font-family: Arial,sans-serif;
	font-size: 1.0em;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	text-transform: uppercase;
	padding: 0 10px;
	text-align: left;
}
#restaurants-list p {
	margin: 0;
	padding: 0 10px;
	font-size: 0.8em;
}
#restaurants-list li a {
	height: 40px;
	display: block;
	background-color: orange;
	border-bottom: 3px solid #eee;
	color: #fff;
	font-size: 1.1em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 7px;
	margin-bottom: 0;
}



/* ====================== Restaurant Details ====================== */
.inside #map {
	background-color: #ccc;
	width: 100%;
}

#restaurant-name {
	padding: 0;
	color: #f18200;
	font-family: Arial,sans-serif;
	font-size: 1.7em;
	font-weight: 200;
	letter-spacing: 0;
	text-transform: uppercase;
	line-height: 1.1;
	width: 100%;
}
#restaurant-img {
	-moz-border-radius-topleft: 5%;
	-webkit-border-top-left-radius: 5%;
	border-radius: 5% 0 5% 0;
	-moz-border-radius-bottomright: 5%;
	-webkit-border-bottom-right-radius: 5%;
	width: 100%;
	max-width: 520px;
}
#restaurant-address {
	font-size: 12pt;
	margin: 10px 0px;
	width: 100%;
}
#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 1.2em;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin-top: 10px;
}
#restaurant-container, #reviews-container {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
}
#reviews-container {
	padding: 15px;
}
#reviews-container h2 {
	color: #f58500;
	font-size: 1.7em;
	font-weight: 300;
	text-transform: uppercase;
}
#reviews-list {
	margin: 0;
	padding: 0;
}
#reviews-list li {
	font-size: 1em;
	background-color: #fff;
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin-bottom: 20px;
}
#reviews-list li > p {
	margin: 0;
	padding: 0 12px 12px 12px;
}

#review-name-date-container {
	color: #ddd;
	background-color: #333;
	padding: 12px;
}

#review-name-date-container p {
	color: #ddd;
	display: inline;
}

#review-name {
	font-size: 1em;
	font-weight: bolder;
}

#review-rating-cotainer {
	margin: 0;
	padding: 0;
}

#review-rating {
	color: white;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	border-radius: 10%;
	font-weight: bolder;
	background-color: orange;
	margin-left: 12px;
	padding: 5px;
	display: inline-block;
}

#review-date {
	float: right;
	font-size: 0.7em;
}

#restaurant-hours td {
	color: #666;
}
